@font-face {
    font-family: 'Montserrat Alternates';
    src: url("../../assets/font/MontserratAlternates-Regular.ttf");
}

@font-face {
    font-family: 'Poppins';
    src: url("../../assets/font/Poppins-Medium.ttf");
}

@font-face {
    font-family: 'Helmet';
    src: url("../../assets/font/Helmet-Regular.ttf");
}

// @font-face {
//     font-family: 'Raleway';
//     src: url("../font/Raleway-Regular.ttf");
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #aaaaaa;
    cursor: pointer;
    transition: .5s;

    &:hover {
        color: black;
    }
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

nav {
    padding: .2em 0;
    font-variant: all-petite-caps;
    display: flex;
    align-items: center;
    gap: .5em;
    font-family: 'Montserrat Alternates';

    .logo-text {
        font-weight: 900;
    }
}

// FIRST SECTION

.hero-section {
    background-color: #dddddd;
    font-family: 'Montserrat Alternates';
    height: 100vh;
    // point
    padding: 2em 6em;
    position: relative;


    .hero-content-container {
        padding-top: 22em;
        display: grid;
        grid-template-columns: 1fr 6fr;
        gap: 3em;
    }
}

.hero-content-container {
    position: absolute;
    bottom: 10%;

    .hero-nav-links {
        font-size: 1.5em;
        font-style: italic;
        color: #aaaaaa;

        ul li a {
            background: linear-gradient(0deg, black, black);
            background-repeat: no-repeat;
            background-size: 0 2px;
            background-position: bottom;
            transition: .3s ease-in;

            &:hover {
                background: linear-gradient(0deg, black, black);
                background-repeat: no-repeat;
                background-size: 100% 2px;
                background-position: bottom;
            }
        }
    }

    .hero-text {
        font-size: 3em;
    }

    .down-links {
        width: 100%;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            li a {
                background: linear-gradient(0deg, black, black);
                background-repeat: no-repeat;
                background-size: 0 2px;
                background-position: bottom;
                transition: .3s ease-in;

                &:hover {
                    background: linear-gradient(0deg, black, black);
                    background-repeat: no-repeat;
                    background-size: 100% 2px;
                    background-position: bottom;
                }
            }
        }
    }
}


/* SECOND SECTION */
.second-section {
    background-color: #cccccc;
    height: 100vh;
    position: relative;
    font-family: 'Helmet';
    // font-family: "Poppins";
    padding: 0 6em;
    position: relative;

    .second-section-content {

        .second-section-text-container {
            font-size: 5em;
            padding-top: 1em;
            color: #aaaaaa;
            font-weight: 900;

            .intro-break {
                padding-left: 4em;
                padding-top: 1em;
                display: block;

            }
        }


        .bitmoji {
            width: 2em;
            position: absolute;
            left: 40%;
            top: 10%;
        }

        // FOR THE DOWN ARROWS
        .arrows-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85%;
            position: absolute;
            bottom: 20%;

            .arrow {
                position: absolute;
                width: 3em;
                height: .5em;
                opacity: 0;
                transform: scale(0.3);
                animation: move-arrow 3s ease-out infinite;

                &:first-child {
                    animation: move-arrow 3s ease-out 1s infinite;
                }

                &:nth-child(2) {
                    animation: move-arrow 3s ease-out 2s infinite;
                }

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 50%;
                    background: #2c3e50;
                }

                &:before {
                    left: 0;
                    transform: skewY(30deg);
                }

                &:after {
                    right: 0;
                    width: 50%;
                    transform: skewY(-30deg);
                }
            }
        }
    }

}

// DOWN ARROWS ANIMATION
@keyframes move-arrow {
    25% {
        opacity: 1;
    }

    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
    }

    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
    }

    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
    }
}

// THIRD SECTION
.third-section {
    background-color: #dddddd;
    height: auto;
    font-family: 'Montserrat Alternates', 'Gilroy-Light';

    .third-section-content {
        // point
        padding: 4em 6em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
            width: 25em;
            height: auto;
            object-fit: cover;
            display: inline-block;
            // margin: auto 1em;
        }

        .third-section-text-container {

            .title-heading {
                color: #aaaaaa;

                .title {
                    font-size: 7em;
                    font-weight: 900;
                }

                .smaller-title {
                    font-size: 2em;
                    padding-left: 2em;
                }
            }



        }

        p {
            text-align: justify;
            padding-left: 4em;
            padding-top: 1em;
            width: 70%;
            font-family: 'Poppins';
        }
    }
}

.rotating-link {
    a {
        font-size: 2em;
        display: block;
        padding-top: 1em;
        padding-left: 2em;
        color: black;
        transition: .2s ease-in-out;
        text-decoration: underline;
    }

    &:hover a {
        transform: scale(0.95);
    }

    &:hover svg {
        transform: rotate(-90deg);
    }
}

.svg {
    width: .6em;
    vertical-align: middle;
    transform: rotate(220deg);
    transition: .2s ease-in-out;
}

.tech-stack-marquee {
    padding: 1em 0;
    font-size: 2em;
    font-family: 'Helmet';
    color: #aaaaaa;
    height: auto;
}

// PROJECTS SECTION

.projects-section {
    height: auto;
    background-color: #cccccc;
    // point
    padding: 4em 6em;

    .projects-section-content-container {
        padding: 4em 0em;

        .projects-heading {
            font-size: 3em;
            font-family: 'Helmet';
            color: #aaaaaa;
            font-weight: 700;

            img {
                width: 1em;
                margin-bottom: -.7em;
                display: inline-block;
            }
        }
    }

    .projects-list {
        width: 100%;
        padding: 2em 0em 0;
    }
}

.projects-list {
    section {
        height: auto;
        font-family: 'Poppins', 'Gilroy-Light';

        h1 {
            font-size: 2em;
        }
    }
}


.individual-project {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2em;
    height: 100%;
    padding-top: 1em;
    padding-bottom: 4em;
    font-family: 'Helmet';

    img {
        width: 30em;
        height: auto;
        object-fit: cover;
        display: inline-block;
        margin: auto 0;
    }

    .project-description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;

        .project-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .view-project {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .project-info {
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 3em;

        .project-features {
            width: 100%;
            text-align: justify;
            font-size: .9em;
        }

        .project-features h3 {
            padding-bottom: .5em;
        }

        .project-stack {
            font-size: .6em;
            align-self: center;
        }
    }
}


// HORIZONTAL LINE
.horizontal-line {
    height: 1px;
    background-color: #E6E6E6;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -o-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -moz-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -ms-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.02, #cccccc), color-stop(0.5, gray), color-stop(0.98, #cccccc));
}

.second-rotating-link {
    text-align: center;
    font-family: "Helmet";
    // font-variant: ;
}

// CONTACT
.contact {
    height: 100vh;
    background-color: #dddddd;
    font-family: 'Poppins';

    position: relative;
    // point
    padding: 8em 6em;

    .contact-heading {
        font-size: 4em;
        font-weight: 700;
        color: #aaaaaa;
        text-align: center;
    }

    .send-email {
        display: block;
        padding: 2em 4em;
        width: fit-content;
        border-radius: 30px;
        margin: 4em auto;
        background-color: #cccccc;
        transition: .5s;

        &:hover {
            transform: scale(0.90);
            color: #aaaaaa;
        }
    }

    .icons {
        position: absolute;
        bottom: 5%;

        img {
            width: 2em;
        }
    }
}

.footer {
    padding: 1em 6em;
    font-family: 'Helmet';
    background-color: #cccccc;
    color: #aaaaaa;
    text-align: center;

    .back-to-top {
        text-decoration: underline;

        &:hover {
            opacity: .7;
        }
    }
}


// HOVER ANIMATION
// .navigation-list {
//     padding: 2em 6em;
// }

// .navigation-item {
//     display: block;
//     margin: 5em 0;
//     transition: .5s;
//     height: 100vh;
// }

// .navigation-link {
//     display: flex;
//     font-size: 1em;
// }

// .navigation-item a {
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 2em;
//     color: #eeeeee
// }

// .navigation-item a span {
//     position: relative;
//     display: block;
//     overflow: hidden;
// }

// .navigation-item a span::before {
//     width: 0;
//     color: #aaaaaa;
//     overflow: hidden;
//     position: absolute;
//     content: attr(data-text);
//     transition: all .5s cubic-bezier(0.84, 0, 0.08, 0.99);
// }

// .navigation-item span:hover::before {
//     width: 100%;
// }

@media screen and (max-width: 1150px) {

    // FIRST SECTION
    .hero-section {
        padding: 2em 4em;

        .hero-content-container {
            padding-top: 18em;

            .down-links {
                width: 100%;
            }
        }
    }

    // SECOND SECTION
    .second-section {
        .second-section-content {
            .second-section-text-container {
                font-size: 5em;
                padding-left: .5em;
                padding-top: 1em;
            }

            .bitmoji {
                left: 50%;
                top: 10%;
                position: absolute;
            }
        }
    }

    // THIRD SECTION
    .third-section {
        .third-section-content {
            padding: 4em;
        }
    }

    // PROJECTS SECTION 
    .projects-section {
        padding: 4em;
    }

    // CONTACT SECTION
    .contact {
        padding: 6em 4em;
    }

}

@media screen and (max-width: 1000px),
screen and (min-height: 800px) {

    // SECOND SECTION
    .second-section {
        padding: 5em 4em;
    }

    // CONTACT
    .contact {
        padding-top: 18em;
    }
}

@media screen and (max-width: 900px) {

    // FIRST SECTION
    .hero-content-container {
        .hero-nav-links {
            font-size: 1em;
        }

        .down-links {
            width: 100%;
        }
    }

    .hero-section {
        .hero-text {
            font-size: 2em;
        }
    }

    // SECOND SECTION
    .second-section {
        height: 50vh;

        .second-section-content {
            .second-section-text-container {
                font-size: 4em;

                .intro-break {
                    padding-left: 2em;
                }
            }

            .bitmoji {
                left: 55%;
                top: 22%;
            }

            .arrows-container {
                position: absolute;
                width: 85%;
            }
        }
    }

    // THIRD SECTION
    .third-section {
        .third-section-content {
            display: flex;
            flex-direction: column;

            img {
                display: block;
                margin: 0 auto;
                width: 30em;
            }

            .third-section-text-container {
                padding-left: 2em;

                p {
                    width: 80%;

                }
            }
        }
    }

    // PROJECTS
    .individual-project {
        grid-template-columns: 1fr;

        img {
            display: block;
            width: 100%;
        }

        .project-info {

            .project-features {
                width: 100%;
            }

            .project-features h3 {
                padding-bottom: 1em;
            }

            .project-stack {
                font-size: .7em;
                align-self: flex-end;
            }
        }
    }

    // CONTACT
    .contact {
        .contact-heading {
            font-size: 3.5em;
        }
    }

}

@media screen and (max-width: 500px) {

    // FIRST SECTION
    .hero-section {
        padding: 1em;

        .hero-content-container {
            grid-template-columns: 1fr;
            gap: 1em;

            .hero-nav-links {
                font-size: 1em;
                position: absolute;
                top: -40%;
                left: 80%;
            }

            .hero-text {
                font-size: 1.7em;
                text-align: justify;

                width: 100%;

            }
        }
    }

    // SECOND SECTION
    .second-section {
        padding: 1em;
        height: 50vh;

        .second-section-content {
            .second-section-text-container {
                font-size: 2.5em;
            }

            .bitmoji {
                position: absolute;
                left: 62%;
                top: 10%;
            }

            .arrows-container {
                width: 90%;

                .arrow {
                    width: 2em;
                }
            }
        }
    }

    // THIRD SECTION
    .third-section {
        .third-section-content {
            padding: 2em 1em;

            img {
                width: 22em;
            }

            .third-section-text-container {
                .title-heading {
                    .title {
                        font-size: 4em;
                    }

                    .smaller-title {
                        padding-left: 0em;
                        font-size: 1.5em;
                    }
                }

                p {
                    padding-left: 0em;
                    width: 85%;
                }
            }

        }

        .tech-stack-marquee {
            font-size: 1em;
        }

    }

    // PROJECTS SECTION
    .projects-section {
        padding: 1em;

        .projects-section-content-container {
            padding: 2em 0em;

            .projects-heading {
                font-size: 2em;
            }
        }

        .projects-list {
            .individual-project {
                grid-template-columns: 1fr;

                .project-info {
                    grid-template-columns: 1fr;

                    .project-info {
                        width: 100%;
                    }

                    .project-features h3 {
                        padding: 1em 0em;
                    }
                }
            }
        }
    }

    .rotating-link {
        a {
            padding-left: 0em;
            font-size: 1.5em;
        }
    }

    .second-rotating-link {
        a {
            padding-left: 0em;
            font-size: 1em;
        }
    }

    // CONTACT SECTION
    .contact {
        padding: 10em 1em;
        height: 80vh;

        .contact-heading {
            font-size: 1.5em;
        }

        .send-email {
            padding: 1.5em 3em;
            border-radius: 20px;
        }
    }

    // FOOTER SECTION
    .footer {
        font-size: .8em;
    }
}

@media screen and (max-width: 400px) {

    // HERO SECTION
    .hero-section {
        .hero-content-container {
            .hero-nav-links {
                top: -30%;
                left: 80%;
            }

            .hero-text {
                font-size: 1.5em;
            }

            .down-links {
                font-size: 1em;
            }
        }
    }

    // THIRD SECTION
    .third-section {
        .third-section-content {
            img {
                width: 20em;
            }

            .third-section-text-container {
                .title-heading {
                    .title {
                        font-size: 3em;
                    }

                    .smaller-title {
                        font-size: 1.5em;
                    }
                }

                p {
                    font-size: .9em;
                }

                .rotating-link {
                    font-size: 1em;
                }
            }
        }

        .tech-stack-marquee {
            font-size: .8em;
        }
    }

    // PROJECTS SECTION
    .projects-section {
        .projects-list {
            .individual-project {
                .project-description {
                    .project-title {
                        h1 {
                            font-size: 1.5em;
                        }
                    }

                    .project-info {
                        .project-features {
                            h3 {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .hero-section {
        .hero-content-container {
            padding-top: 15em;

            .hero-nav-links {
                position: absolute;
                top: 0%;
                left: 80%;
            }

            .hero-text {
                font-size: 1.2em;
            }

            .down-links {
                font-size: .8em;
            }
        }
    }

    // SECOND SECTION CONTAINER
    .second-section {
        height: 70vh;

        .second-section-content {
            .second-section-text-container {
                font-size: 2em;
            }
        }
    }

    // THIRD SECTION
    .third-section {
        .third-section-content {
            img {
                width: 16em;
            }

            .third-section-text-container {
                .title-heading {
                    .title {
                        font-size: 2.5em;
                    }

                    .smaller-title {
                        font-size: 1.1em;
                    }
                }

                .rotating-link {
                    font-size: .8em;
                }
            }
        }
    }

    .contact {
        padding: 4em 1em;

        .contact-heading {
            font-size: 1.2em;
        }
    }

    .footer {
        font-size: .6em;
    }
}